<div class="container-fluid" id="content" style="margin-top:100px !important ;border-bottom:0px ">
    <div class="row mx-auto w-90 mt-5 pt-5 pl-5">


        <!-- List Bidder -->
        <div class="col-8 offset-2 py-md-3 pl-md-5 bd-content listbid">

            <div id="titleOrder" class="row ">
                <h2 class="col mb-5 text-align font-weight-bold">MANAGER ORDER FROM USER</h2>
            </div>
            <div class="row ">
                <h4 class="col mb-3 text-align font-weight-light">Change status order</h4>
            </div>
            <div class="row" style="font-size: 15px;">
                <div class="col-6 offset-1">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect02" style="height:30px">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">Code bill</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect02" style="height:30px">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">Status</label>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary" style="height:30px">Change</button>
                </div>
            </div>

            <table class="table table-sm txt-center table-hover mt-5" id="listStore">
                <thead>
                    <tr style="text-align: center; font-size:15px">
                        <th scope="col">USER NAME</th>
                        <th scope="col">NAME </th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">PHONE NUMBER</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">LIST PRODUCT</th>
                        <th scope="col">SUM PRICE</th>
                        <th scope="col">STATUS</th>
                    </tr>
                </thead>

                <tbody id="productList"></tbody>
                 {{#if !list}}
                 <tr style="text-align: center; font-size:15px;">
                    <td class="pt-3">{{this.username}}</td>
                    <td class="pt-3">{{this.name}}</td>
                    <td class="pt-3">{{this.email}}</td>
                    <td class="pt-3">{{this.phone}}</td>
                    <td class="pt-3">{{this.deliveryadress}}</td>
                    <td class="pt-3"><a href="/../bill/detail">more</a></td>
                    <td class="pt-3">10.000</td>
                    <td class="pt-3">{{this.status}}</td>
                </tr>
                {{else}} 

                {{#each list}}
                <tr>
                    <h3 style="color: rgb(159, 159, 160);">NO ORDER ON LIST</h3>
                </tr>
                {{/each}}
                {{/if}}
                </tbody>

            </table>
            <!-- Pagination -->
            {{!-- {{> pagination}} --}}
        </div>
        <!-- End of list Bidder -->
    </div>
</div>