<div class="container-fluid" id="content" style="margin-top:100px !important ;border-bottom:0px ">
    <div class="row mx-auto w-90 mt-5 pt-5 pl-5">


        <!-- List Bidder -->
        <div class="col-8 offset-2 py-md-3 pl-md-5 bd-content listbid">

            <div id="titleProfileInfo" class="row ">
                <h4 class="col mb-5 text-align font-weight-bold"style="font-size: 30px">LIST USER</h4>
            </div>
            <table class="table table-sm txt-center table-hover" id="listStore">
                <thead>
                    <tr style="text-align: center; font-size:15px">
                        <th scope="col">USER NAME</th>
                        <th scope="col">NAME </th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">PHONE NUMBER</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">NUMBER OF BILL</th>


                    </tr>
                </thead>

                <tbody id="productList"></tbody>
                {{!-- {{#if checkbid}}
                <tr>
                    <h3 style="color: rgb(159, 159, 160);">NO ONE ON LIST</h3>
                </tr>
                {{else}} --}}

                {{!-- {{#each listbid}} --}}
                {{#each list}}
                <tr style="text-align: center; font-size:15px;">
                    <td class="pt-3">{{this.username}}</td>
                    <td class="pt-3">{{this.name}}</td>
                    <td class="pt-3">{{this.email}}</td>
                    <td class="pt-3">{{this.phone}}</td>
                    <td class="pt-3">{{this.address}}</td>
                    <td class="pt-3">none</td>
                </tr>
                {{/each}}

                {{!-- {{/each}}
                {{/if}} --}}
                </tbody>

            </table>
            <!-- Pagination -->
            {{!-- {{> pagination}} --}}
        </div>
        <!-- End of list Bidder -->
</div>
</div>